@define-color fg #fe8019;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background: transparent;
    color: @fg;
}

/* =========================
 * Global Module Style
 * ========================= */

#custom-logo,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#battery,
#clock,
#window,
#workspaces {
    background: #222222;
    margin: 8px 3px 0 3px;
    padding: 0 12px;
    color: @fg;
}

/* =========================
 * Logo
 * ========================= */

#custom-logo {
    color: @fg;
    font-size: 18px;
    padding: 0 14px 0 8px;
}

/* =========================
 * Workspaces
 * ========================= */

#workspaces {
    padding: 3px;
}

#workspaces button {
    color: @fg;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 2px;
    transition: all 0.15s ease;
}

#workspaces button:hover {
    background: @white;
}

#workspaces button.empty {
    color: #444444;
}

#workspaces button.active {
    background: @fg;
    color: @white;
}

/* =========================
 * Window Title
 * ========================= */

#window {
    padding-left: 18px;
    padding-right: 18px;
}
